.flex-container div, input, button, img {
	margin-bottom:1em;
}


#myLesson { 
	position: relative;
    text-align: center;
}

#centerLesson { 
	display:inline-block;
vertical-align:middle;
}

input {
	padding:8px;
	/*display:block;*/
	border:none;
	border-bottom:1px solid #ccc;
	/*width:100%;*/
}